@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('../../media//fonts/FiraSansCondensed/FiraSansCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Fira Sans Condensed Light';
    src: url('../../media//fonts/FiraSansCondensed/FiraSansCondensed-Light.ttf');
}