$font: 'Fira Sans Condensed';

.sendButton {

    width: fit-content;

    padding: 20px 45px 20px 45px;
    
    border: none;
    border-radius: 85px;

    background: #2D76F9;

    font-family: $font;
    font-size: 18px;
    color: white;

    cursor: pointer;

    transition: all 0.3s ease;

}

.sendButton:disabled {
    background: #26447b;
    cursor: default;
}

@media screen and (max-width: 900px) {

    .sendButton {

        width: 327px;
        height: 48px;

        padding: 0;

        font-size: 16px;
    }
}